/* for mobile */
.bg {
    background: url('img/bg-mobile.png');
    background-size: cover;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navigasi_atas {
    position: relative;
    top: 10%;
    color: rgb(0, 255, 255);
    font-weight: bolder;
    text-align: start;
}
.navigasi_bawah {
    text-anchor: start;
    text-align: end;
    font-weight: bolder;
    color: rgb(128, 128, 0);
    position: relative;
    top: 40%;
}
.navigasi_kecil {
    font-size: medium;
}
a {
    text-decoration: none;
    color: black;
}
.bg1 {
    background-color: rgb(128, 128, 0);
}
.undangan{
    box-sizing: border-box;
    background-color: white;
    width: 75%;
    content: normal;
    margin: 10%;
    page-break-before: always;
}
.head {
    margin-left: 1%;
    margin-right: 1%;
}
.isi {
    text-align: center;
    font-size: 2vw;
}
.paginasi {
    display: flex;
    justify-content: center;
}
/* for dekstop */
@media only screen and (min-width: 1000px) {
    .bg {
        background: url('img/bg-dekstop.png');
        background-size: cover;
        background-position: center;
    }
    .navigasi_atas_besar {
        font-size: xx-large;
    }
    .navigasi_kecil {
        font-size: larger;
    }
    .navigasi_bawah_besar {
        color: rgb(128, 128, 0);
        text-anchor: start;
        text-align: end;
        font-weight: bolder;
        font-size: xx-large;
    }
    .navigasi_bawah {
        top: 0%;
    }
    .undangan {
        margin: 10%;
        width: 80%;
    }
  }
